[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
h5py = "*"
nltk = "*"
tensorflow = "*"
keras = "==2.11.0"
matplotlib = "*"
regex = "*"
transformers = "*"
tf-keras = "*"
scikit-learn = "*"
joblib = "*"
flask = "*"
imbalanced-learn = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.10"
